@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@font-face {
    font-family: LarishNeueSemibold;
    src: url(../fonts/LarishNeueSemibold.woff);
    src: url(../fonts/LarishNeueSemibold.woff2);
}

/* ==================== Color variables */
$black: #000;
$white: #fff;
$lightGrey: #999;
$darkGrey: #666;

/* ==================== General styles & css reset */
:root {
    background-color: $black;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $white;
}

/* ==================== Mixins */
@mixin regular-text ($color) {
    font: 1rem/2rem normal Work Sans, sans-serif;
    color: $color;
}
@mixin heading-text ($color) {
    font-family: LarishNeueSemibold, serif;
    font-size: 4.5rem;
    line-height: 1em;
    color: $color;
}
@mixin RSVP-button {
    border: 2px solid $lightGrey;
    padding: 10px 30px;
    @include regular-text($white);
    font-size: 1.1rem;
    transition: 0.3s;
    &:hover {
        border: 2px solid $white;
        color: $black;
        background-color: $white;
    }
}
@mixin adjust($width, $offsetX, $offsetY) {
    max-width: $width;
    transform: translate($offsetX, $offsetY);
}

/* ==================== Header */
header {
    section:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            background-color: $darkGrey;
            width: 2px;
            height: 200px;
            margin-bottom: 50px;
        }
        h2 {
            @include regular-text($white);
        }
        h1:first-of-type {
            @include heading-text($white);
            font-size: 6rem;
        }
        h1:last-of-type {
            @include heading-text($black);
            font-size: 6rem;
            line-height: 0.6em;
            -webkit-text-stroke: 1px $white;
            padding-bottom: 20px;
        }
    }
    section:last-of-type {
        display: flex;
        justify-content: space-between;
        padding: 100px;
        a {
            @include RSVP-button();
        }
    }
}

/* ==================== Section: Summary */
#summary {
    background: url(../img/map.svg) bottom right/30% no-repeat;
    padding: 100px 0 100px 100px;
    margin-bottom: 200px;
    h3 {
        @include heading-text($white);
        font-size: 6rem;
    }
    h3:first-of-type {
        padding: 0 200px 100px 0;
    }
    h4 {
        @include regular-text($white);
        padding-top: 25px;
    }
}

/* ==================== Section: Stuck in the middle. */
#stuck {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        @include heading-text($black);
    }
    p {
        @include regular-text($black);
    }
    div:nth-of-type(1)>img {
        @include adjust(23vw, 27vw, -15vh)
    }
    div:nth-of-type(2)>img {
        @include adjust(20vw, -34vw, 10vh)
    }
    div:nth-of-type(3) { /* h3 + p */
        @include adjust(32vw, 0, 0)
    }
    div:nth-of-type(4) {
        align-self: flex-end;
    }
    div:nth-of-type(4)>img {
        @include adjust(20vw, 0, -10vh)
    }
    div:nth-of-type(5)>img {
        @include adjust(22vw, -21vw, -8vh)
    }
    div:nth-of-type(6)>img {
        @include adjust(22vw, 24vw, -15vh)
    }
    div:nth-of-type(7) { /* p */
        @include adjust(32vw, 0, 0)
    }
    div:nth-of-type(8) {
        align-self: flex-start;
    }
    div:nth-of-type(8)>img {
        @include adjust(20vw, 0, -32vh)
    }
    div:nth-of-type(9)>img {
        @include adjust(30vw, 15vw, 12vh)
    }
}

/* ==================== Section: Golden bear */
.bear {
    padding: 20vh 0 0 100px;
    display: flex;
    align-items: center;
    div:first-of-type {
        p {
            @include regular-text($white);
            padding-bottom: 20px;
        }
        h3 {
            @include heading-text($white)
        }
        padding-right: 15%;
    }
    div:last-of-type {
        p:first-of-type {
            @include heading-text($white);
            font-size: 1.5rem;
            max-width: 80%;
            padding-bottom: 20px;
        }
        p:last-of-type {
            @include regular-text($white);
        }
    }
    img:first-of-type {
        width: 200px;
    }
    img:last-of-type {
        width: 200px;
    }
}
#poppyBear {
    background-color: $white;
    img {
        animation: turning 10s linear infinite;
        width: 30vw;
    }
    @keyframes turning {
        to {
            transform: rotateZ(-360deg);
        }
    }
}